@font-face {
    font-family: "Santana";
    src: url(Font/Santana.ttf) format('truetype');
}
@font-face {
    font-family: "Santana-BlackCondensed";
    src: url(Font/Santana-BlackCondensed.ttf) format('truetype');
}
@font-face {
    font-family: "Santana-Bolt";
    src: url(Font/Santana-Bold.ttf) format('truetype');
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-between;
}
section
{
    display: flex;
    justify-content: space-between;
    position:relative;
    align-items: center;
    width: 100%;
    background-color: #017143;/*44d16*/
}
section .top
{
    display: flex;
    justify-content: space-between;
    position:relative;
    align-items: center;
    width: 100%;
    padding-left: 20px;
}
section .top ul
{
    list-style-type: none;
}
section .top ul li
{
    display: inline-block;
    padding: 20px;  
}
section .top p
{
    font-size: 40px;
    color: white;
    font-family:"Santana-Bolt"
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text
{
    position: relative;
    width: 60%;
    align-items:center;
}
.text h1{
    font-size: 4em;
    color: #333;
}
.text h1 span
{
    font-size: 1.2em;
    color: #017143;
}
.text p
{
    font-size: 20px;
    color: black;
}
.text a
{
    color: blue;
}
.image
{
    position: relative;
}
